In [1]:
import pandas as pd
import numpy as np


import os
import requests
import json
import base64

In [2]:
import time
import base64
import hmac
import hashlib

In [3]:
import env

Keys loaded successfully

In [4]:
api_key = env.kc_api_key
api_s = env.kc_secret_api
api_pp = env.kc_passphrase
api_uid = env.kc_uid

In [5]:
# from kucoin.client import Market
# client = Market(url = 'https://api.kucoin.com')
# klines = client.get_kline('BTC-USDT', '1min')
# klines

# from kucoin.client import User
# client = User(api_key, api_s, api_pp)
# client

In [6]:
pd.__version__

'1.2.4'

### Creating the API signature for KuCoin

In [7]:
# #Example for get balance of accounts in python


# # api_key = env.kucoin_api
# # api_s = env.kucoin_secret
# # api_pp = env.kucoin_passphrase
# # api_uid = env.kucoin_uid

# api_key = env.kucoin_api
# api_secret = env.kucoin_secret
# api_passphrase = env.kucoin_passphrase
# url = 'https://openapi-sandbox.kucoin.com/api/v1/accounts'
# now = int(time.time() * 1000)
# str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
# signature = base64.b64encode(
#     hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
# passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
# headers = {
#     "KC-API-SIGN": signature,
#     "KC-API-TIMESTAMP": str(now),
#     "KC-API-KEY": api_key,
#     "KC-API-PASSPHRASE": passphrase,
#     "KC-API-KEY-VERSION": 2
# }
# response = requests.request('get', url, headers=headers)
# print(response.status_code)
# print(response.json())

# #Example for create deposit addresses in python
# url = 'https://openapi-sandbox.kucoin.com/api/v1/deposit-addresses'
# now = int(time.time() * 1000)
# data = {"currency": "BTC"}
# data_json = json.dumps(data)
# str_to_sign = str(now) + 'POST' + '/api/v1/deposit-addresses' + data_json
# signature = base64.b64encode(
#     hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
# passphrase = base64.b64encode(
#     hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
# headers = {
#     "KC-API-SIGN": signature,
#     "KC-API-TIMESTAMP": str(now),
#     "KC-API-KEY": api_key,
#     "KC-API-PASSPHRASE": passphrase,
#     "KC-API-KEY-VERSION": 2
#     "Content-Type": "application/json" # specifying content type or using json=data in request
# }
# response = requests.request('post', url, headers=headers, data=data_json)
# print(response.status_code)
# print(response.json())

In [8]:
# Creating the api keys
api_key = env.kc_api_key
api_secret = env.kc_secret_api
api_passphrase = env.kc_passphrase
url = 'https://api.kucoin.com/api/v1/accounts'
now = int(time.time() * 1000)
str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
signature = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
headers = {
    "KC-API-SIGN": signature,
    "KC-API-TIMESTAMP": str(now),
    "KC-API-KEY": api_key,
    "KC-API-PASSPHRASE": passphrase,
    "KC-API-KEY-VERSION": str(2)
}
#     response = requests.request('get', url, headers=headers)
#     print(response.status_code)
#     print(response.json())

In [9]:
response = requests.request('get', url, headers=headers)
print(response.status_code)
# print(response.json())

200

In [10]:
pd.DataFrame.from_dict(response.json()['data'])

,id,currency,type,balance,available,holds
0,609841d0f180450006fcf3f2,ATOM,trade,81.5969,7.0543,74.5426
1,60984217df152d0006a24128,USDT,trade,493.03325721,42.74520424,450.28805297
2,609841dadf152d0006a1ca08,BTC,trade,0.0129379,0.0129379,0
3,60973775df152d0006586989,BTC,main,0.00600523,0.00600523,0
4,609a801ba09b0c0006838148,USDC,trade,0.0000033,0.0000033,0
5,60983b4843519c000694d3f6,ALGO,main,0,0,0
6,609841c6d54db40006c93037,ALGO,trade,0,0,0
7,6097261f78f8a30006099e89,ATOM,main,0,0,0
8,60ba908aac1db80006626ca0,ETH,main,0,0,0
9,60ba9073e21631000640d1cf,ETH,trade,0,0,0
10,60ba8dbc01f3c100063961ce,MATIC,main,0,0,0
11,60ba8d905716b400064ba39a,MATIC,trade,0,0,0
12,6096edb4f1804500061b1580,USDC,main,0,0,0

In [11]:
df = pd.DataFrame.from_dict(response.json()['data'])
df

,id,currency,type,balance,available,holds
0,609841d0f180450006fcf3f2,ATOM,trade,81.5969,7.0543,74.5426
1,60984217df152d0006a24128,USDT,trade,493.03325721,42.74520424,450.28805297
2,609841dadf152d0006a1ca08,BTC,trade,0.0129379,0.0129379,0
3,60973775df152d0006586989,BTC,main,0.00600523,0.00600523,0
4,609a801ba09b0c0006838148,USDC,trade,0.0000033,0.0000033,0
5,60983b4843519c000694d3f6,ALGO,main,0,0,0
6,609841c6d54db40006c93037,ALGO,trade,0,0,0
7,6097261f78f8a30006099e89,ATOM,main,0,0,0
8,60ba908aac1db80006626ca0,ETH,main,0,0,0
9,60ba9073e21631000640d1cf,ETH,trade,0,0,0
10,60ba8dbc01f3c100063961ce,MATIC,main,0,0,0
11,60ba8d905716b400064ba39a,MATIC,trade,0,0,0
12,6096edb4f1804500061b1580,USDC,main,0,0,0

In [12]:
df.drop(columns = 'id', inplace = True)
# df.rename(columns = {'type': 'account_name'})

### Creating the dataframes

In [13]:
trade_account = df[df['type'] == 'trade']
trade_account

   currency   type       balance    available         holds
0      ATOM  trade       81.5969       7.0543       74.5426
1      USDT  trade  493.03325721  42.74520424  450.28805297
2       BTC  trade     0.0129379    0.0129379             0
4      USDC  trade     0.0000033    0.0000033             0
6      ALGO  trade             0            0             0
9       ETH  trade             0            0             0
11    MATIC  trade             0            0             0

In [14]:
trade_account.to_excel('account_balance.xlsx')

### Getting the coin prices

In [15]:
# Purpose is to create another dataframe (which will eventually become an excel sheet) that'll hold the current prices.
# Or at least hold a variable with the current price.

url = 'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT'

In [16]:
btc_price_check = requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT')

In [17]:
btc_price_check.json()['data']

{'time': 1623110592208,
 'sequence': '1617201549611',
 'price': '33671.1',
 'size': '0.00287698',
 'bestBid': '33663.7',
 'bestBidSize': '0.022',
 'bestAsk': '33663.8',
 'bestAskSize': '0.07549999'}

In [18]:
# Create a list of coins:

coin_list = ['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT']
cash_list = ['USDT', 'USD', 'USDC']

In [19]:
print(coin_list, cash_list)

['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT'] ['USDT', 'USD', 'USDC']

In [20]:
# Now trying to interate through the list to get the prices... I'm doing this wrong however. Append isn't the correct method to use.

for x in coin_list:
    new_list = []
    new_list.append(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])
    print(x + " price in USDT")
    print(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])

BTC price in USDT
33666.1
ETH price in USDT
2592.44
ADA price in USDT
1.565594
ALGO price in USDT
0.957
ATOM price in USDT
13.4662
XLM price in USDT
0.346551
DOT price in USDT
21.8012

In [21]:
new_list = []

for i in coin_list:
    new_list.append(i)

print(new_list)

['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT']

In [22]:
price_data = []

In [23]:
type(price_data)

list

In [24]:
# testing out the api call first

cointest = "BTC"
requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={cointest}-USDT').json()['data']['price']

'33674.1'

In [25]:
# This for loop will create a list of prices by calling each crypto within my 'coin_list' list. 

price_list = []
for coin in coin_list:
    prices = float(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={coin}-USDT').json()['data']['price'])
#     print(prices), print(type(prices))
    price_list.append(prices)
#     price_type = float(prices)
#     print(type(price_test))
#     price_data.append(prices.assign(coin = coin)[['coin', 'close']])
# type(prices)
price_list

[33674.1, 2593.63, 1.568589, 0.957, 13.4809, 0.346907, 21.8012]

In [26]:
coin_dict = {"coin":coin_list, "price":price_list}

coin_dict

{'coin': ['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT'],
 'price': [33674.1, 2593.63, 1.568589, 0.957, 13.4809, 0.346907, 21.8012]}

In [27]:
df_prices = pd.DataFrame(coin_dict)
df_prices

   coin         price
0   BTC  33674.100000
1   ETH   2593.630000
2   ADA      1.568589
3  ALGO      0.957000
4  ATOM     13.480900
5   XLM      0.346907
6   DOT     21.801200

That is my problem... when I pull the json object, and narrow down to just the price, it is just a string within the dictionary. So I need to cast is as a float somehow within that for loop.

In [37]:
trade_account.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 11
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   currency   7 non-null      object
 1   type       7 non-null      object
 2   balance    7 non-null      object
 3   available  7 non-null      object
 4   holds      7 non-null      object
dtypes: object(5)
memory usage: 336.0+ bytes

In [29]:
test_account = trade_account
test_account

   currency   type       balance    available         holds
0      ATOM  trade       81.5969       7.0543       74.5426
1      USDT  trade  493.03325721  42.74520424  450.28805297
2       BTC  trade     0.0129379    0.0129379             0
4      USDC  trade     0.0000033    0.0000033             0
6      ALGO  trade             0            0             0
9       ETH  trade             0            0             0
11    MATIC  trade             0            0             0

In [47]:
account = trade_account

In [58]:
account = account.reset_index(drop = True)

In [59]:
account

  currency   type     balance  available       holds
0     ATOM  trade   81.596900   7.054300   74.542600
1     USDT  trade  493.033257  42.745204  450.288053
2      BTC  trade    0.012938   0.012938    0.000000
3     USDC  trade    0.000003   0.000003    0.000000
4     ALGO  trade    0.000000   0.000000    0.000000
5      ETH  trade    0.000000   0.000000    0.000000
6    MATIC  trade    0.000000   0.000000    0.000000

In [60]:
account.dtypes

currency      object
type          object
balance      float64
available    float64
holds        float64
dtype: object

In [61]:
# Changing column datatypes to floats where appropriate. Going to use .astype for now.

# test_account['balance'] = test_account.balance.astype(float)
# test_account['available'] = test_account.available.astype(float)
# test_account['holds'] = test_account.holds.astype(float)

# test_account.info()

In [30]:
# merging the two so I can create new columns:

holdings = test_account.merge(df_prices, left_on = 'currency', right_on = 'coin', how = 'left')
holdings

  currency   type       balance    available         holds  coin       price
0     ATOM  trade       81.5969       7.0543       74.5426  ATOM     13.4809
1     USDT  trade  493.03325721  42.74520424  450.28805297   NaN         NaN
2      BTC  trade     0.0129379    0.0129379             0   BTC  33674.1000
3     USDC  trade     0.0000033    0.0000033             0   NaN         NaN
4     ALGO  trade             0            0             0  ALGO      0.9570
5      ETH  trade             0            0             0   ETH   2593.6300
6    MATIC  trade             0            0             0   NaN         NaN

In [31]:
holdings.drop(columns = ['coin'])
holdings

  currency   type       balance    available         holds  coin       price
0     ATOM  trade       81.5969       7.0543       74.5426  ATOM     13.4809
1     USDT  trade  493.03325721  42.74520424  450.28805297   NaN         NaN
2      BTC  trade     0.0129379    0.0129379             0   BTC  33674.1000
3     USDC  trade     0.0000033    0.0000033             0   NaN         NaN
4     ALGO  trade             0            0             0  ALGO      0.9570
5      ETH  trade             0            0             0   ETH   2593.6300
6    MATIC  trade             0            0             0   NaN         NaN

In [32]:
test_account

   currency   type       balance    available         holds
0      ATOM  trade       81.5969       7.0543       74.5426
1      USDT  trade  493.03325721  42.74520424  450.28805297
2       BTC  trade     0.0129379    0.0129379             0
4      USDC  trade     0.0000033    0.0000033             0
6      ALGO  trade             0            0             0
9       ETH  trade             0            0             0
11    MATIC  trade             0            0             0

In [33]:
# Now to create holdings table in USDT

In [34]:
df_prices

   coin         price
0   BTC  33674.100000
1   ETH   2593.630000
2   ADA      1.568589
3  ALGO      0.957000
4  ATOM     13.480900
5   XLM      0.346907
6   DOT     21.801200

In [35]:
price_test = float(prices)
print(type(price_test))

<class 'float'>

In [36]:
# Testing the merging of the dataframes: