In [1]:
import pandas as pd
import numpy as np


import os
import requests
import json
import base64

In [2]:
import time
import base64
import hmac
import hashlib

In [3]:
import env

Keys loaded successfully

In [4]:
api_key = env.kc_api_key
api_s = env.kc_secret_api
api_pp = env.kc_passphrase
api_uid = env.kc_uid

In [5]:
# from kucoin.client import Market
# client = Market(url = 'https://api.kucoin.com')
# klines = client.get_kline('BTC-USDT', '1min')
# klines

# from kucoin.client import User
# client = User(api_key, api_s, api_pp)
# client

In [6]:
pd.__version__

'1.2.4'

### Creating the API signature for KuCoin

In [7]:
# #Example for get balance of accounts in python


# # api_key = env.kucoin_api
# # api_s = env.kucoin_secret
# # api_pp = env.kucoin_passphrase
# # api_uid = env.kucoin_uid

# api_key = env.kucoin_api
# api_secret = env.kucoin_secret
# api_passphrase = env.kucoin_passphrase
# url = 'https://openapi-sandbox.kucoin.com/api/v1/accounts'
# now = int(time.time() * 1000)
# str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
# signature = base64.b64encode(
#     hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
# passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
# headers = {
#     "KC-API-SIGN": signature,
#     "KC-API-TIMESTAMP": str(now),
#     "KC-API-KEY": api_key,
#     "KC-API-PASSPHRASE": passphrase,
#     "KC-API-KEY-VERSION": 2
# }
# response = requests.request('get', url, headers=headers)
# print(response.status_code)
# print(response.json())

# #Example for create deposit addresses in python
# url = 'https://openapi-sandbox.kucoin.com/api/v1/deposit-addresses'
# now = int(time.time() * 1000)
# data = {"currency": "BTC"}
# data_json = json.dumps(data)
# str_to_sign = str(now) + 'POST' + '/api/v1/deposit-addresses' + data_json
# signature = base64.b64encode(
#     hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
# passphrase = base64.b64encode(
#     hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
# headers = {
#     "KC-API-SIGN": signature,
#     "KC-API-TIMESTAMP": str(now),
#     "KC-API-KEY": api_key,
#     "KC-API-PASSPHRASE": passphrase,
#     "KC-API-KEY-VERSION": 2
#     "Content-Type": "application/json" # specifying content type or using json=data in request
# }
# response = requests.request('post', url, headers=headers, data=data_json)
# print(response.status_code)
# print(response.json())

In [8]:
# Creating the api keys
api_key = env.kc_api_key
api_secret = env.kc_secret_api
api_passphrase = env.kc_passphrase
url = 'https://api.kucoin.com/api/v1/accounts'
now = int(time.time() * 1000)
str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
signature = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
headers = {
    "KC-API-SIGN": signature,
    "KC-API-TIMESTAMP": str(now),
    "KC-API-KEY": api_key,
    "KC-API-PASSPHRASE": passphrase,
    "KC-API-KEY-VERSION": str(2)
}
#     response = requests.request('get', url, headers=headers)
#     print(response.status_code)
#     print(response.json())

In [9]:
response = requests.request('get', url, headers=headers)
print(response.status_code)
# print(response.json())

200

In [10]:
pd.DataFrame.from_dict(response.json()['data'])

,id,currency,type,balance,available,holds
0,60984217df152d0006a24128,USDT,trade,1165.77171501,40.0496658,1125.72204921
1,609841d0f180450006fcf3f2,ATOM,trade,34.6928,7.0543,27.6385
2,609841dadf152d0006a1ca08,BTC,trade,0.0129379,0.0129379,0
3,60973775df152d0006586989,BTC,main,0.00600523,0.00600523,0
4,609a801ba09b0c0006838148,USDC,trade,0.0000033,0.0000033,0
5,60983b4843519c000694d3f6,ALGO,main,0,0,0
6,609841c6d54db40006c93037,ALGO,trade,0,0,0
7,6097261f78f8a30006099e89,ATOM,main,0,0,0
8,60ba908aac1db80006626ca0,ETH,main,0,0,0
9,60ba9073e21631000640d1cf,ETH,trade,0,0,0
10,60ba8dbc01f3c100063961ce,MATIC,main,0,0,0
11,60ba8d905716b400064ba39a,MATIC,trade,0,0,0
12,6096edb4f1804500061b1580,USDC,main,0,0,0

In [11]:
df = pd.DataFrame.from_dict(response.json()['data'])
df

,id,currency,type,balance,available,holds
0,60984217df152d0006a24128,USDT,trade,1165.77171501,40.0496658,1125.72204921
1,609841d0f180450006fcf3f2,ATOM,trade,34.6928,7.0543,27.6385
2,609841dadf152d0006a1ca08,BTC,trade,0.0129379,0.0129379,0
3,60973775df152d0006586989,BTC,main,0.00600523,0.00600523,0
4,609a801ba09b0c0006838148,USDC,trade,0.0000033,0.0000033,0
5,60983b4843519c000694d3f6,ALGO,main,0,0,0
6,609841c6d54db40006c93037,ALGO,trade,0,0,0
7,6097261f78f8a30006099e89,ATOM,main,0,0,0
8,60ba908aac1db80006626ca0,ETH,main,0,0,0
9,60ba9073e21631000640d1cf,ETH,trade,0,0,0
10,60ba8dbc01f3c100063961ce,MATIC,main,0,0,0
11,60ba8d905716b400064ba39a,MATIC,trade,0,0,0
12,6096edb4f1804500061b1580,USDC,main,0,0,0

In [12]:
df.drop(columns = 'id', inplace = True)
# df.rename(columns = {'type': 'account_name'})

### Creating the dataframes

In [13]:
trade_account = df[df['type'] == 'trade']
trade_account

   currency   type        balance   available          holds
0      USDT  trade  1165.77171501  40.0496658  1125.72204921
1      ATOM  trade        34.6928      7.0543        27.6385
2       BTC  trade      0.0129379   0.0129379              0
4      USDC  trade      0.0000033   0.0000033              0
6      ALGO  trade              0           0              0
9       ETH  trade              0           0              0
11    MATIC  trade              0           0              0

In [14]:
trade_account.to_excel('account_balance.xlsx')

### Getting the coin prices

In [15]:
# Purpose is to create another dataframe (which will eventually become an excel sheet) that'll hold the current prices.
# Or at least hold a variable with the current price.

url = 'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT'

In [16]:
btc_price_check = requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT')

In [17]:
btc_price_check.json()['data']

{'time': 1623074329009,
 'sequence': '1617188081916',
 'price': '36295.4',
 'size': '0.01215931',
 'bestBid': '36295.3',
 'bestBidSize': '0.02101522',
 'bestAsk': '36295.4',
 'bestAskSize': '0.09446366'}

In [18]:
# Create a list of coins:

coin_list = ['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT']
cash_list = ['USDT', 'USD', 'USDC']

In [19]:
print(coin_list, cash_list)

['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT'] ['USDT', 'USD', 'USDC']

In [20]:
# Now trying to interate through the list to get the prices... I'm doing this wrong however. Append isn't the correct method to use.

for x in coin_list:
    new_list = []
    new_list.append(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])
    print(x + " price in USDT")
    print(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])

BTC price in USDT
36295.3
ETH price in USDT
2789.4
ADA price in USDT
1.723038
ALGO price in USDT
1.0702
ATOM price in USDT
15.465
XLM price in USDT
0.384971
DOT price in USDT
24.846

In [21]:
new_list = []

for i in coin_list:
    new_list.append(i)

print(new_list)

['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT']

In [22]:
price_data = []

In [23]:
type(price_data)

list

In [24]:
# testing out the api call first

cointest = "BTC"
requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={cointest}-USDT').json()['data']['price']

'36299.1'

In [25]:
# This for loop will create a list of prices by calling each crypto within my 'coin_list' list. 

price_list = []
for coin in coin_list:
    prices = float(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={coin}-USDT').json()['data']['price'])
#     print(prices), print(type(prices))
    price_list.append(prices)
#     price_type = float(prices)
#     print(type(price_test))
#     price_data.append(prices.assign(coin = coin)[['coin', 'close']])
# type(prices)
price_list

[36299.1, 2789.48, 1.723571, 1.0702, 15.4753, 0.385183, 24.846]

In [26]:
coin_dict = {"coin":coin_list, "price":price_list}

coin_dict

{'coin': ['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT'],
 'price': [36299.1, 2789.48, 1.723571, 1.0702, 15.4753, 0.385183, 24.846]}

In [27]:
df_prices = pd.DataFrame(coin_dict)
df_prices

   coin         price
0   BTC  36299.100000
1   ETH   2789.480000
2   ADA      1.723571
3  ALGO      1.070200
4  ATOM     15.475300
5   XLM      0.385183
6   DOT     24.846000

That is my problem... when I pull the json object, and narrow down to just the price, it is just a string within the dictionary. So I need to cast is as a float somehow within that for loop.

In [28]:
trade_account

   currency   type        balance   available          holds
0      USDT  trade  1165.77171501  40.0496658  1125.72204921
1      ATOM  trade        34.6928      7.0543        27.6385
2       BTC  trade      0.0129379   0.0129379              0
4      USDC  trade      0.0000033   0.0000033              0
6      ALGO  trade              0           0              0
9       ETH  trade              0           0              0
11    MATIC  trade              0           0              0

In [29]:
test_account = trade_account
test_account

   currency   type        balance   available          holds
0      USDT  trade  1165.77171501  40.0496658  1125.72204921
1      ATOM  trade        34.6928      7.0543        27.6385
2       BTC  trade      0.0129379   0.0129379              0
4      USDC  trade      0.0000033   0.0000033              0
6      ALGO  trade              0           0              0
9       ETH  trade              0           0              0
11    MATIC  trade              0           0              0

In [30]:
# merging the two so I can create new columns:

holdings = test_account.merge(df_prices, left_on = 'currency', right_on = 'coin', how = 'left')
holdings

  currency   type        balance   available          holds  coin       price
0     USDT  trade  1165.77171501  40.0496658  1125.72204921   NaN         NaN
1     ATOM  trade        34.6928      7.0543        27.6385  ATOM     15.4753
2      BTC  trade      0.0129379   0.0129379              0   BTC  36299.1000
3     USDC  trade      0.0000033   0.0000033              0   NaN         NaN
4     ALGO  trade              0           0              0  ALGO      1.0702
5      ETH  trade              0           0              0   ETH   2789.4800
6    MATIC  trade              0           0              0   NaN         NaN

In [31]:
holdings.drop(columns = ['coin'])
holdings

  currency   type        balance   available          holds  coin       price
0     USDT  trade  1165.77171501  40.0496658  1125.72204921   NaN         NaN
1     ATOM  trade        34.6928      7.0543        27.6385  ATOM     15.4753
2      BTC  trade      0.0129379   0.0129379              0   BTC  36299.1000
3     USDC  trade      0.0000033   0.0000033              0   NaN         NaN
4     ALGO  trade              0           0              0  ALGO      1.0702
5      ETH  trade              0           0              0   ETH   2789.4800
6    MATIC  trade              0           0              0   NaN         NaN

In [32]:
test_account

   currency   type        balance   available          holds
0      USDT  trade  1165.77171501  40.0496658  1125.72204921
1      ATOM  trade        34.6928      7.0543        27.6385
2       BTC  trade      0.0129379   0.0129379              0
4      USDC  trade      0.0000033   0.0000033              0
6      ALGO  trade              0           0              0
9       ETH  trade              0           0              0
11    MATIC  trade              0           0              0

In [33]:
# Now to create holdings table in USDT

In [34]:
df_prices

   coin         price
0   BTC  36299.100000
1   ETH   2789.480000
2   ADA      1.723571
3  ALGO      1.070200
4  ATOM     15.475300
5   XLM      0.385183
6   DOT     24.846000

In [35]:
price_test = float(prices)
print(type(price_test))

<class 'float'>

In [36]:
# Testing the merging of the dataframes: