In [1]:
import pandas as pd
import numpy as np


import os
import requests
import json
import base64

In [2]:
import time
import base64
import hmac
import hashlib

In [3]:
import env

Keys loaded successfully

In [4]:
api_key = env.kc_api_key
api_s = env.kc_secret_api
api_pp = env.kc_passphrase
api_uid = env.kc_uid

In [ ]:
# from kucoin.client import Market
# client = Market(url = 'https://api.kucoin.com')
# klines = client.get_kline('BTC-USDT', '1min')
# klines

# from kucoin.client import User
# client = User(api_key, api_s, api_pp)
# client

In [ ]:
#Example for get balance of accounts in python


# api_key = env.kucoin_api
# api_s = env.kucoin_secret
# api_pp = env.kucoin_passphrase
# api_uid = env.kucoin_uid

api_key = env.kucoin_api
api_secret = env.kucoin_secret
api_passphrase = env.kucoin_passphrase
url = 'https://openapi-sandbox.kucoin.com/api/v1/accounts'
now = int(time.time() * 1000)
str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
signature = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
headers = {
    "KC-API-SIGN": signature,
    "KC-API-TIMESTAMP": str(now),
    "KC-API-KEY": api_key,
    "KC-API-PASSPHRASE": passphrase,
    "KC-API-KEY-VERSION": 2
}
response = requests.request('get', url, headers=headers)
print(response.status_code)
print(response.json())

#Example for create deposit addresses in python
url = 'https://openapi-sandbox.kucoin.com/api/v1/deposit-addresses'
now = int(time.time() * 1000)
data = {"currency": "BTC"}
data_json = json.dumps(data)
str_to_sign = str(now) + 'POST' + '/api/v1/deposit-addresses' + data_json
signature = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
passphrase = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
headers = {
    "KC-API-SIGN": signature,
    "KC-API-TIMESTAMP": str(now),
    "KC-API-KEY": api_key,
    "KC-API-PASSPHRASE": passphrase,
    "KC-API-KEY-VERSION": 2
    "Content-Type": "application/json" # specifying content type or using json=data in request
}
response = requests.request('post', url, headers=headers, data=data_json)
print(response.status_code)
print(response.json())

In [5]:
# Creating the api keys
api_key = env.kc_api_key
api_secret = env.kc_secret_api
api_passphrase = env.kc_passphrase
url = 'https://api.kucoin.com/api/v1/accounts'
now = int(time.time() * 1000)
str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
signature = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
headers = {
    "KC-API-SIGN": signature,
    "KC-API-TIMESTAMP": str(now),
    "KC-API-KEY": api_key,
    "KC-API-PASSPHRASE": passphrase,
    "KC-API-KEY-VERSION": str(2)
}
#     response = requests.request('get', url, headers=headers)
#     print(response.status_code)
#     print(response.json())

In [6]:
response = requests.request('get', url, headers=headers)
print(response.status_code)
print(response.json())

200
{'code': '200000', 'data': [{'id': '60984217df152d0006a24128', 'currency': 'USDT', 'type': 'trade', 'balance': '868.50276971', 'available': '86.9491583', 'holds': '781.5536114'}, {'id': '609841d0f180450006fcf3f2', 'currency': 'ATOM', 'type': 'trade', 'balance': '69.4008', 'available': '1.956', 'holds': '67.4448'}, {'id': '60973775df152d0006586989', 'currency': 'BTC', 'type': 'main', 'balance': '0.0187597', 'available': '0.0187597', 'holds': '0'}, {'id': '609841dadf152d0006a1ca08', 'currency': 'BTC', 'type': 'trade', 'balance': '0.00172929', 'available': '0.00172929', 'holds': '0'}, {'id': '609a801ba09b0c0006838148', 'currency': 'USDC', 'type': 'trade', 'balance': '0.0000033', 'available': '0.0000033', 'holds': '0'}, {'id': '60983b4843519c000694d3f6', 'currency': 'ALGO', 'type': 'main', 'balance': '0', 'available': '0', 'holds': '0'}, {'id': '609841c6d54db40006c93037', 'currency': 'ALGO', 'type': 'trade', 'balance': '0', 'available': '0', 'holds': '0'}, {'id': '6097261f78f8a30006099e89', 'currency': 'ATOM', 'type': 'main', 'balance': '0', 'available': '0', 'holds': '0'}, {'id': '6096edb4f1804500061b1580', 'currency': 'USDC', 'type': 'main', 'balance': '0', 'available': '0', 'holds': '0'}]}

In [7]:
pd.DataFrame.from_dict(response.json()['data'])

,id,currency,type,balance,available,holds
0,60984217df152d0006a24128,USDT,trade,868.50276971,86.9491583,781.5536114
1,609841d0f180450006fcf3f2,ATOM,trade,69.4008,1.956,67.4448
2,60973775df152d0006586989,BTC,main,0.0187597,0.0187597,0
3,609841dadf152d0006a1ca08,BTC,trade,0.00172929,0.00172929,0
4,609a801ba09b0c0006838148,USDC,trade,0.0000033,0.0000033,0
5,60983b4843519c000694d3f6,ALGO,main,0,0,0
6,609841c6d54db40006c93037,ALGO,trade,0,0,0
7,6097261f78f8a30006099e89,ATOM,main,0,0,0
8,6096edb4f1804500061b1580,USDC,main,0,0,0

In [8]:
df = pd.DataFrame.from_dict(response.json()['data'])
df

,id,currency,type,balance,available,holds
0,60984217df152d0006a24128,USDT,trade,868.50276971,86.9491583,781.5536114
1,609841d0f180450006fcf3f2,ATOM,trade,69.4008,1.956,67.4448
2,60973775df152d0006586989,BTC,main,0.0187597,0.0187597,0
3,609841dadf152d0006a1ca08,BTC,trade,0.00172929,0.00172929,0
4,609a801ba09b0c0006838148,USDC,trade,0.0000033,0.0000033,0
5,60983b4843519c000694d3f6,ALGO,main,0,0,0
6,609841c6d54db40006c93037,ALGO,trade,0,0,0
7,6097261f78f8a30006099e89,ATOM,main,0,0,0
8,6096edb4f1804500061b1580,USDC,main,0,0,0

In [9]:
df.drop(columns = 'id', inplace = True)
# df.rename(columns = {'type': 'account_name'})

In [10]:
trade_account = df[df['type'] == 'trade']
trade_account

  currency   type       balance   available        holds
0     USDT  trade  868.50276971  86.9491583  781.5536114
1     ATOM  trade       69.4008       1.956      67.4448
3      BTC  trade    0.00172929  0.00172929            0
4     USDC  trade     0.0000033   0.0000033            0
6     ALGO  trade             0           0            0

In [11]:
trade_account.to_excel('account_balance.xlsx')

### Getting the coin prices

In [12]:
# Purpose is to create another dataframe (which will eventually become an excel sheet) that'll hold the current prices.
# Or at least hold a variable with the current price.

url = 'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT'

In [13]:
btc_price_check = requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT')

In [14]:
btc_price_check.json()['data']

{'time': 1622302949909,
 'sequence': '1616923312463',
 'price': '34426.8',
 'size': '0.00006669',
 'bestBid': '34426.8',
 'bestBidSize': '0.1526984',
 'bestAsk': '34426.9',
 'bestAskSize': '0.0005'}

In [20]:
# Create a list of coins:

coin_list = ['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT']
cash_list = ['USDT', 'USD', 'USDC']

In [21]:
print(coin_list, cash_list)

['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT'] ['USDT', 'USD', 'USDC']

In [22]:
# Now trying to interate through the list to get the prices... I'm doing this wrong however. Append isn't the correct method to use.

for x in coin_list:
    new_list = []
    new_list.append(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])
    print(x + " price in USDT")
    print(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])

BTC price in USDT
34427.8
ETH price in USDT
2328.32
ADA price in USDT
1.40245
ALGO price in USDT
0.8285
ATOM price in USDT
12.2063
XLM price in USDT
0.356733
DOT price in USDT
20.1917

In [ ]:
new_list = []

for i in coin_list:
    new_list.append(i)

print(new_list)

In [16]:
price_data = []

In [17]:
type(price_data)

list

In [49]:
# testing out the api call first

cointest = "BTC"
requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={cointest}-USDT').json()['data']['price']

'34232.6'

In [25]:
# This for loop will create a list of prices by calling each crypto within my 'coin_list' list. 

price_list = []
for coin in coin_list:
    prices = float(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={coin}-USDT').json()['data']['price'])
#     print(prices), print(type(prices))
    price_list.append(prices)
#     price_type = float(prices)
#     print(type(price_test))
#     price_data.append(prices.assign(coin = coin)[['coin', 'close']])
# type(prices)
price_list

[34399.5, 2327.12, 1.400691, 0.8277, 12.254, 0.356775, 20.1701]

In [33]:
coin_dict = {"coin":coin_list, "price":price_list}

coin_dict

{'coin': ['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT'],
 'price': [34399.5, 2327.12, 1.400691, 0.8277, 12.254, 0.356775, 20.1701]}

In [34]:
df_prices = pd.DataFrame(coin_dict)
df_prices

   coin         price
0   BTC  34399.500000
1   ETH   2327.120000
2   ADA      1.400691
3  ALGO      0.827700
4  ATOM     12.254000
5   XLM      0.356775
6   DOT     20.170100

That is my problem... when I pull the json object, and narrow down to just the price, it is just a string within the dictionary. So I need to cast is as a float somehow within that for loop.

In [29]:
trade_account

  currency   type       balance   available        holds
0     USDT  trade  868.50276971  86.9491583  781.5536114
1     ATOM  trade       69.4008       1.956      67.4448
3      BTC  trade    0.00172929  0.00172929            0
4     USDC  trade     0.0000033   0.0000033            0
6     ALGO  trade             0           0            0

In [36]:
test_account = trade_account
test_account

  currency   type       balance   available        holds
0     USDT  trade  868.50276971  86.9491583  781.5536114
1     ATOM  trade       69.4008       1.956      67.4448
3      BTC  trade    0.00172929  0.00172929            0
4     USDC  trade     0.0000033   0.0000033            0
6     ALGO  trade             0           0            0

In [43]:
# merging the two so I can create new columns:

holdings = test_account.merge(df_prices, left_on = 'currency', right_on = 'coin', how = 'left')
holdings

  currency   type       balance   available        holds  coin       price
0     USDT  trade  868.50276971  86.9491583  781.5536114   NaN         NaN
1     ATOM  trade       69.4008       1.956      67.4448  ATOM     12.2540
2      BTC  trade    0.00172929  0.00172929            0   BTC  34399.5000
3     USDC  trade     0.0000033   0.0000033            0   NaN         NaN
4     ALGO  trade             0           0            0  ALGO      0.8277

In [44]:
holdings.drop(columns = ['coin'])
holdings

  currency   type       balance   available        holds  coin       price
0     USDT  trade  868.50276971  86.9491583  781.5536114   NaN         NaN
1     ATOM  trade       69.4008       1.956      67.4448  ATOM     12.2540
2      BTC  trade    0.00172929  0.00172929            0   BTC  34399.5000
3     USDC  trade     0.0000033   0.0000033            0   NaN         NaN
4     ALGO  trade             0           0            0  ALGO      0.8277

In [45]:
test_account

  currency   type       balance   available        holds
0     USDT  trade  868.50276971  86.9491583  781.5536114
1     ATOM  trade       69.4008       1.956      67.4448
3      BTC  trade    0.00172929  0.00172929            0
4     USDC  trade     0.0000033   0.0000033            0
6     ALGO  trade             0           0            0

In [ ]:
prices

In [ ]:
price_test = float(prices)
print(type(price_test))