In [1]:
import pandas as pd
import numpy as np


import os
import requests
import json
import base64

In [2]:
import time
import base64
import hmac
import hashlib

In [3]:
import env

Keys loaded successfully

In [4]:
api_key = env.kc_api_key
api_s = env.kc_secret_api
api_pp = env.kc_passphrase
api_uid = env.kc_uid

In [5]:
from kucoin.client import Market

In [ ]:
client = Market(url = 'https://api.kucoin.com')

In [ ]:
klines = client.get_kline('BTC-USDT', '1min')

In [ ]:
klines

In [6]:
from kucoin.client import User
client = User(api_key, api_s, api_pp)

In [ ]:
client

In [ ]:
requests.get(f'https://api.kucoin.com/api/v1/sub-accounts')

In [ ]:
account = client.get_account('609d983740a109000617f00c')

In [ ]:
account = client.create_account('trade', 'BTC')

In [ ]:
response

In [ ]:
#Example for get balance of accounts in python


# api_key = env.kucoin_api
# api_s = env.kucoin_secret
# api_pp = env.kucoin_passphrase
# api_uid = env.kucoin_uid

api_key = env.kucoin_api
api_secret = env.kucoin_secret
api_passphrase = env.kucoin_passphrase
url = 'https://openapi-sandbox.kucoin.com/api/v1/accounts'
now = int(time.time() * 1000)
str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
signature = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
headers = {
    "KC-API-SIGN": signature,
    "KC-API-TIMESTAMP": str(now),
    "KC-API-KEY": api_key,
    "KC-API-PASSPHRASE": passphrase,
    "KC-API-KEY-VERSION": 2
}
response = requests.request('get', url, headers=headers)
print(response.status_code)
print(response.json())

#Example for create deposit addresses in python
url = 'https://openapi-sandbox.kucoin.com/api/v1/deposit-addresses'
now = int(time.time() * 1000)
data = {"currency": "BTC"}
data_json = json.dumps(data)
str_to_sign = str(now) + 'POST' + '/api/v1/deposit-addresses' + data_json
signature = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
passphrase = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
headers = {
    "KC-API-SIGN": signature,
    "KC-API-TIMESTAMP": str(now),
    "KC-API-KEY": api_key,
    "KC-API-PASSPHRASE": passphrase,
    "KC-API-KEY-VERSION": 2
    "Content-Type": "application/json" # specifying content type or using json=data in request
}
response = requests.request('post', url, headers=headers, data=data_json)
print(response.status_code)
print(response.json())

In [7]:
    api_key = env.kc_api_key
    api_secret = env.kc_secret_api
    api_passphrase = env.kc_passphrase
    url = 'https://api.kucoin.com/api/v1/accounts'
    now = int(time.time() * 1000)
    str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
    signature = base64.b64encode(
        hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
    passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
    headers = {
        "KC-API-SIGN": signature,
        "KC-API-TIMESTAMP": str(now),
        "KC-API-KEY": api_key,
        "KC-API-PASSPHRASE": passphrase,
        "KC-API-KEY-VERSION": str(2)
    }
#     response = requests.request('get', url, headers=headers)
#     print(response.status_code)
#     print(response.json())

In [8]:
response = requests.request('get', url, headers=headers)
print(response.status_code)
print(response.json())

200
{'code': '200000', 'data': [{'id': '60984217df152d0006a24128', 'currency': 'USDT', 'type': 'trade', 'balance': '1587.59836128', 'available': '100.00402112', 'holds': '1487.59434015'}, {'id': '60973775df152d0006586989', 'currency': 'BTC', 'type': 'main', 'balance': '0.01275372', 'available': '0.01275372', 'holds': '0'}, {'id': '609841d0f180450006fcf3f2', 'currency': 'ATOM', 'type': 'trade', 'balance': '17.8555', 'available': '0.1689', 'holds': '17.6866'}, {'id': '609841dadf152d0006a1ca08', 'currency': 'BTC', 'type': 'trade', 'balance': '0.00172929', 'available': '0', 'holds': '0.00172929'}, {'id': '609a801ba09b0c0006838148', 'currency': 'USDC', 'type': 'trade', 'balance': '0.0000033', 'available': '0.0000033', 'holds': '0'}, {'id': '60983b4843519c000694d3f6', 'currency': 'ALGO', 'type': 'main', 'balance': '0', 'available': '0', 'holds': '0'}, {'id': '609841c6d54db40006c93037', 'currency': 'ALGO', 'type': 'trade', 'balance': '0', 'available': '0', 'holds': '0'}, {'id': '6097261f78f8a30006099e89', 'currency': 'ATOM', 'type': 'main', 'balance': '0', 'available': '0', 'holds': '0'}, {'id': '6096edb4f1804500061b1580', 'currency': 'USDC', 'type': 'main', 'balance': '0', 'available': '0', 'holds': '0'}]}

In [9]:
pd.DataFrame.from_dict(response.json()['data'])

,id,currency,type,balance,available,holds
0,60984217df152d0006a24128,USDT,trade,1587.59836128,100.00402112,1487.59434015
1,60973775df152d0006586989,BTC,main,0.01275372,0.01275372,0
2,609841d0f180450006fcf3f2,ATOM,trade,17.8555,0.1689,17.6866
3,609841dadf152d0006a1ca08,BTC,trade,0.00172929,0,0.00172929
4,609a801ba09b0c0006838148,USDC,trade,0.0000033,0.0000033,0
5,60983b4843519c000694d3f6,ALGO,main,0,0,0
6,609841c6d54db40006c93037,ALGO,trade,0,0,0
7,6097261f78f8a30006099e89,ATOM,main,0,0,0
8,6096edb4f1804500061b1580,USDC,main,0,0,0

In [10]:
df = pd.DataFrame.from_dict(response.json()['data'])
df

,id,currency,type,balance,available,holds
0,60984217df152d0006a24128,USDT,trade,1587.59836128,100.00402112,1487.59434015
1,60973775df152d0006586989,BTC,main,0.01275372,0.01275372,0
2,609841d0f180450006fcf3f2,ATOM,trade,17.8555,0.1689,17.6866
3,609841dadf152d0006a1ca08,BTC,trade,0.00172929,0,0.00172929
4,609a801ba09b0c0006838148,USDC,trade,0.0000033,0.0000033,0
5,60983b4843519c000694d3f6,ALGO,main,0,0,0
6,609841c6d54db40006c93037,ALGO,trade,0,0,0
7,6097261f78f8a30006099e89,ATOM,main,0,0,0
8,6096edb4f1804500061b1580,USDC,main,0,0,0

In [11]:
df.drop(columns = 'id', inplace = True)
# df.rename(columns = {'type': 'account_name'})

In [12]:
trade_account = df[df['type'] == 'trade']
trade_account

  currency   type        balance     available          holds
0     USDT  trade  1587.59836128  100.00402112  1487.59434015
2     ATOM  trade        17.8555        0.1689        17.6866
3      BTC  trade     0.00172929             0     0.00172929
4     USDC  trade      0.0000033     0.0000033              0
6     ALGO  trade              0             0              0

In [13]:
trade_account.to_excel('account_balance.xlsx')

### Getting the coin prices

In [ ]:
# Purpose is to create another dataframe (which will eventually become an excel sheet) that'll hold the current prices.
# Or at least hold a variable with the current price.

url = 'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT'

In [ ]:
btc_price_check = requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT')

In [ ]:
btc_price_check.json()['data']

In [ ]:
# Create a list of coins:

coin_list = ['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT']
cash_list = ['USDT', 'USD', 'USDC']

In [ ]:
print(coin_list, cash_list)

In [ ]:
for x in coin_list:
    new_list = []
    new_list.append(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])
    print(x + " price in USDT")
    print(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])

In [ ]:
new_list