In [1]:
import pandas as pd
import numpy as np


import os
import requests
import json
import base64

In [2]:
import time
import base64
import hmac
import hashlib

In [3]:
import env

Keys loaded successfully

In [4]:
api_key = env.kc_api_key
api_s = env.kc_secret_api
api_pp = env.kc_passphrase
api_uid = env.kc_uid

In [5]:
# from kucoin.client import Market
# client = Market(url = 'https://api.kucoin.com')
# klines = client.get_kline('BTC-USDT', '1min')
# klines

# from kucoin.client import User
# client = User(api_key, api_s, api_pp)
# client

In [6]:
pd.__version__

'1.2.4'

### Creating the API signature for KuCoin

In [ ]:
# #Example for get balance of accounts in python


# # api_key = env.kucoin_api
# # api_s = env.kucoin_secret
# # api_pp = env.kucoin_passphrase
# # api_uid = env.kucoin_uid

# api_key = env.kucoin_api
# api_secret = env.kucoin_secret
# api_passphrase = env.kucoin_passphrase
# url = 'https://openapi-sandbox.kucoin.com/api/v1/accounts'
# now = int(time.time() * 1000)
# str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
# signature = base64.b64encode(
#     hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
# passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
# headers = {
#     "KC-API-SIGN": signature,
#     "KC-API-TIMESTAMP": str(now),
#     "KC-API-KEY": api_key,
#     "KC-API-PASSPHRASE": passphrase,
#     "KC-API-KEY-VERSION": 2
# }
# response = requests.request('get', url, headers=headers)
# print(response.status_code)
# print(response.json())

# #Example for create deposit addresses in python
# url = 'https://openapi-sandbox.kucoin.com/api/v1/deposit-addresses'
# now = int(time.time() * 1000)
# data = {"currency": "BTC"}
# data_json = json.dumps(data)
# str_to_sign = str(now) + 'POST' + '/api/v1/deposit-addresses' + data_json
# signature = base64.b64encode(
#     hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
# passphrase = base64.b64encode(
#     hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
# headers = {
#     "KC-API-SIGN": signature,
#     "KC-API-TIMESTAMP": str(now),
#     "KC-API-KEY": api_key,
#     "KC-API-PASSPHRASE": passphrase,
#     "KC-API-KEY-VERSION": 2
#     "Content-Type": "application/json" # specifying content type or using json=data in request
# }
# response = requests.request('post', url, headers=headers, data=data_json)
# print(response.status_code)
# print(response.json())

In [7]:
# Creating the api keys
api_key = env.kc_api_key
api_secret = env.kc_secret_api
api_passphrase = env.kc_passphrase
url = 'https://api.kucoin.com/api/v1/accounts'
now = int(time.time() * 1000)
str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
signature = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
headers = {
    "KC-API-SIGN": signature,
    "KC-API-TIMESTAMP": str(now),
    "KC-API-KEY": api_key,
    "KC-API-PASSPHRASE": passphrase,
    "KC-API-KEY-VERSION": str(2)
}
#     response = requests.request('get', url, headers=headers)
#     print(response.status_code)
#     print(response.json())

In [8]:
response = requests.request('get', url, headers=headers)
print(response.status_code)
# print(response.json())

200

In [9]:
pd.DataFrame.from_dict(response.json()['data'])

,id,currency,type,balance,available,holds
0,609a801ba09b0c0006838148,USDC,trade,1359.22208948,1359.22208948,0
1,60984217df152d0006a24128,USDT,trade,842.8607245,53.22448221,789.63624228
2,609841dadf152d0006a1ca08,BTC,trade,0.01540148,0.01540148,0
3,609841d0f180450006fcf3f2,ATOM,trade,22.1162,0.1346,21.9816
4,60983b4843519c000694d3f6,ALGO,main,0,0,0
5,609841c6d54db40006c93037,ALGO,trade,0,0,0
6,6097261f78f8a30006099e89,ATOM,main,0,0,0
7,60973775df152d0006586989,BTC,main,0,0,0
8,60ba908aac1db80006626ca0,ETH,main,0,0,0
9,60ba9073e21631000640d1cf,ETH,trade,0,0,0
10,60ba8dbc01f3c100063961ce,MATIC,main,0,0,0
11,60ba8d905716b400064ba39a,MATIC,trade,0,0,0
12,6096edb4f1804500061b1580,USDC,main,0,0,0

In [10]:
df = pd.DataFrame.from_dict(response.json()['data'])
df

,id,currency,type,balance,available,holds
0,609a801ba09b0c0006838148,USDC,trade,1359.22208948,1359.22208948,0
1,60984217df152d0006a24128,USDT,trade,842.8607245,53.22448221,789.63624228
2,609841dadf152d0006a1ca08,BTC,trade,0.01540148,0.01540148,0
3,609841d0f180450006fcf3f2,ATOM,trade,22.1162,0.1346,21.9816
4,60983b4843519c000694d3f6,ALGO,main,0,0,0
5,609841c6d54db40006c93037,ALGO,trade,0,0,0
6,6097261f78f8a30006099e89,ATOM,main,0,0,0
7,60973775df152d0006586989,BTC,main,0,0,0
8,60ba908aac1db80006626ca0,ETH,main,0,0,0
9,60ba9073e21631000640d1cf,ETH,trade,0,0,0
10,60ba8dbc01f3c100063961ce,MATIC,main,0,0,0
11,60ba8d905716b400064ba39a,MATIC,trade,0,0,0
12,6096edb4f1804500061b1580,USDC,main,0,0,0

In [11]:
df.drop(columns = 'id', inplace = True)
# df.rename(columns = {'type': 'account_name'})

### Creating the dataframes

In [12]:
trade_account = df[df['type'] == 'trade']
trade_account

   currency   type        balance      available         holds
0      USDC  trade  1359.22208948  1359.22208948             0
1      USDT  trade    842.8607245    53.22448221  789.63624228
2       BTC  trade     0.01540148     0.01540148             0
3      ATOM  trade        22.1162         0.1346       21.9816
5      ALGO  trade              0              0             0
9       ETH  trade              0              0             0
11    MATIC  trade              0              0             0

In [13]:
trade_account.to_excel('account_balance.xlsx')

### Getting the coin prices

In [14]:
# Purpose is to create another dataframe (which will eventually become an excel sheet) that'll hold the current prices.
# Or at least hold a variable with the current price.

url = 'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT'

In [15]:
btc_price_check = requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=BTC-USDT')

In [16]:
btc_price_check.json()['data']

{'time': 1624970796404,
 'sequence': '1617847932640',
 'price': '35928.4',
 'size': '0.00046651',
 'bestBid': '35929.8',
 'bestBidSize': '0.26463022',
 'bestAsk': '35929.9',
 'bestAskSize': '0.12535879'}

In [17]:
# Create a list of coins:

coin_list = ['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT']
cash_list = ['USDT', 'USD', 'USDC']

In [18]:
print(coin_list, cash_list)

['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT'] ['USDT', 'USD', 'USDC']

In [ ]:
# Now trying to interate through the list to get the prices... I'm doing this wrong however. Append isn't the correct method to use.

for x in coin_list:
    new_list = []
    new_list.append(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])
    print(x + " price in USDT")
    print(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={x}-USDT').json()['data']['price'])

In [19]:
new_list = []

for i in coin_list:
    new_list.append(i)

print(new_list)

['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT']

In [ ]:
price_data = []

In [ ]:
type(price_data)

In [ ]:
# testing out the api call first

cointest = "BTC"
requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={cointest}-USDT').json()['data']['price']

In [ ]:
# This for loop will create a list of prices by calling each crypto within my 'coin_list' list. 

price_list = []
for coin in coin_list:
    prices = float(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={coin}-USDT').json()['data']['price'])
#     print(prices), print(type(prices))
    price_list.append(prices)
#     price_type = float(prices)
#     print(type(price_test))
#     price_data.append(prices.assign(coin = coin)[['coin', 'close']])
# type(prices)
price_list

In [ ]:
coin_dict = {"coin":coin_list, "price":price_list}

coin_dict

In [ ]:
df_prices = pd.DataFrame(coin_dict)
df_prices

That is my problem... when I pull the json object, and narrow down to just the price, it is just a string within the dictionary. So I need to cast is as a float somehow within that for loop.

In [ ]:
trade_account.info()

In [ ]:
test_account = trade_account
test_account

In [ ]:
account = trade_account.copy()

In [ ]:
df[df['type'] == 'trade']

In [ ]:
account = df[df['type'] == 'trade'].copy()
account

In [ ]:
account = account.reset_index(drop = True)

In [ ]:
account

In [ ]:
account.dtypes

In [ ]:
df

In [ ]:
# Changing column datatypes to floats where appropriate. Going to use .astype for now.

# test_account['balance'] = test_account.balance.astype(float)
# test_account['available'] = test_account.available.astype(float)
# test_account['holds'] = test_account.holds.astype(float)

# test_account.info()

In [ ]:
# Now should be able to join the two dataframes. I have to join the two dataframes first before I can multiply columns to create the "$ value" column which is the end goal here.

# Merge, inner join:

holdings = account.merge(df_prices, left_on = 'currency', right_on = 'coin', how = 'left')

holdings

In [ ]:
pd.notna(holdings.coin[0])

In [ ]:
holdings.price.notnull()

In [ ]:
holdings['not_a_null'] = np.where(holdings['price'].notnull(), True, False)

In [ ]:
holdings.price * holdings.balance

In [ ]:
holdings['value_tmp'] = holdings.price * holdings.balance

In [ ]:
holdings

In [ ]:
holdings["dollar_value"] = np.where(holdings['value_tmp'].notnull(), holdings['value_tmp'], holdings['balance'])

In [ ]:
holdings.dtypes

In [ ]:
round(holdings.price * holdings.balance, 2)

In [ ]:
holdings.dollar_value = holdings.dollar_value.round(2)

In [ ]:
holdings

In [ ]:
holdings['balance'] = holdings.balance.astype(float)
holdings['available'] = holdings.available.astype(float)
holdings['holds'] = holdings.holds.astype(float)

## The complete code

In [5]:
# First importing the needed libraries:

import pandas as pd
import numpy as np


import os
import requests
import json
import base64
import time
import base64
import hmac
import hashlib

# Now importing the env file so the script can access the KuCoin API keys:
import env

# Defining the api keys with their own variables:
api_key = env.kc_api_key
api_s = env.kc_secret_api
api_pp = env.kc_passphrase
api_uid = env.kc_uid

# creating the api keys for use in the calls:
api_key = env.kc_api_key
api_secret = env.kc_secret_api
api_passphrase = env.kc_passphrase
url = 'https://api.kucoin.com/api/v1/accounts'
now = int(time.time() * 1000)
str_to_sign = str(now) + 'GET' + '/api/v1/accounts'
signature = base64.b64encode(
    hmac.new(api_secret.encode('utf-8'), str_to_sign.encode('utf-8'), hashlib.sha256).digest())
passphrase = base64.b64encode(hmac.new(api_secret.encode('utf-8'), api_passphrase.encode('utf-8'), hashlib.sha256).digest())
headers = {
    "KC-API-SIGN": signature,
    "KC-API-TIMESTAMP": str(now),
    "KC-API-KEY": api_key,
    "KC-API-PASSPHRASE": passphrase,
    "KC-API-KEY-VERSION": str(2)
}

# Getting the base response with the top level account values:
response = requests.request('get', url, headers=headers)


# Creating the account dataframe using the response request I just created:
df = pd.DataFrame.from_dict(response.json()['data'])

# Column cleanup:
df.drop(columns = 'id', inplace = True)

# Getting prices for coins:

coin_list = ['BTC', 'ETH', 'ADA', 'ALGO', 'ATOM', 'XLM', 'DOT']

# This for loop will create a list of prices by calling each crypto within my 'coin_list' list. 

price_list = []
for coin in coin_list:
    prices = float(requests.get(f'https://api.kucoin.com/api/v1/market/orderbook/level1?symbol={coin}-USDT').json()['data']['price'])
#     print(prices), print(type(prices))
    price_list.append(prices)

# Now creating a dictionary of the coin prices:
coin_dict = {"coin":coin_list, "price":price_list}

# Dataframe from the dictionary:
df_prices = pd.DataFrame(coin_dict)

# creating a copy dataframe of the acct info (this step can be dropped in future)
account = df[df['type'] == 'trade'].copy()
account = account.reset_index(drop = True)
account.rename(columns = {'type': "act_name"}, inplace = True)


# Now should be able to join the two dataframes. I have to join the two dataframes first before I can multiply columns to create the "$ value" column which is the end goal here.

# Merge, inner join:

holdings = account.merge(df_prices, left_on = 'currency', right_on = 'coin', how = 'left')

# Now changing the value types of the columns with numbers in them from objects to float64:
holdings['balance'] = holdings.balance.astype(float)
holdings['available'] = holdings.available.astype(float)
holdings['holds'] = holdings.holds.astype(float)

# Now working through adding calculated columns that I'll later select from if it doesn't return 'nan':

holdings['value_tmp'] = round(holdings.price * holdings.balance, 2)

holdings["dollar_value"] = np.where(holdings['value_tmp'].notnull(), holdings['value_tmp'], holdings['balance'])
holdings.dollar_value = holdings.dollar_value.round(2)

# Dropping extra columns:
holdings.drop(columns = ['coin', 'value_tmp'], inplace = True)

# printing out result, and saving to csv and Excel.
print(holdings)

holdings.to_csv("account_holdings_index.csv")
holdings.to_csv("account_holdings_no_index.csv", index = False)


holdings.to_excel("account_holdings_index.xlsx")
holdings.to_excel("account_holdings_no_index.xlsx", index = False)

  currency act_name      balance    available       holds       price  \
0     USDC    trade  1359.222089  1359.222089    0.000000         NaN
1     USDT    trade   588.001716    53.244562  534.757154         NaN
2     ATOM    trade    45.391100     0.237200   45.153900     11.8093
3      BTC    trade     0.015401     0.015401    0.000000  34599.4000
4     ALGO    trade     0.000000     0.000000    0.000000      0.8600
5      ETH    trade     0.000000     0.000000    0.000000   2219.0100
6    MATIC    trade     0.000000     0.000000    0.000000         NaN

   dollar_value
0       1359.22
1        588.00
2        536.04
3        532.88
4          0.00
5          0.00
6          0.00

## Completed code will show current balances

In [21]:
# Now to create appened tables:

In [2]:
import pandas as pd

In [3]:
holdings

,currency,act_name,balance,available,holds,price,dollar_value
0,USDC,trade,1359.222089,1359.222089,0.000000,NaN,1359.22
1,USDT,trade,588.001716,53.244562,534.757154,NaN,588.00
2,ATOM,trade,45.391100,0.237200,45.153900,11.8311,537.03
3,BTC,trade,0.015401,0.015401,0.000000,34600.1000,532.89
4,ALGO,trade,0.000000,0.000000,0.000000,0.8614,0.00
5,ETH,trade,0.000000,0.000000,0.000000,2220.9200,0.00
6,MATIC,trade,0.000000,0.000000,0.000000,NaN,0.00

In [ ]:
holdings.to_excel("accounts_holds")