In [3]:
import pandas as pd
import pandas_ta as ta

# Load data
df = pd.read_csv("AAPL.csv", sep=",")

# VWAP requires the DataFrame index to be a DatetimeIndex.
# Replace "datetime" with the appropriate column from your DataFrame
df.set_index(pd.DatetimeIndex(df["Date"]), inplace=True)

# Calculate Returns and append to the df DataFrame
df.ta.log_return(cumulative=True, append=True)
df.ta.percent_return(cumulative=True, append=True)

# New Columns with results
df.columns

# Take a peek
df.tail()

# vv Continue Post Processing vv

,date,open,high,low,close,adj_close,volume,CUMLOGRET_1,CUMPCTRET_1
date,,,,,,,,,
2021-03-11,2021-03-11,122.540001,123.209999,121.260002,121.959999,121.959999,102753600,1.527303,1.756990
2021-03-12,2021-03-12,120.400002,121.169998,119.160004,121.029999,121.029999,87963400,1.519649,1.749365
2021-03-15,2021-03-15,121.410004,124.000000,120.419998,123.989998,123.989998,92403800,1.543811,1.773822
2021-03-16,2021-03-16,125.699997,127.220001,124.720001,125.570000,125.570000,114740000,1.556474,1.786565
2021-03-17,2021-03-17,124.050003,125.860001,122.339996,124.760002,124.760002,111437500,1.550002,1.780114

In [2]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-03-18,26.584999,26.625000,26.297501,26.480000,24.629284,176820800
1,2016-03-21,26.482500,26.912500,26.285000,26.477501,24.626959,142010800
2,2016-03-22,26.312500,26.822500,26.302500,26.680000,24.815302,129777600
3,2016-03-23,26.620001,26.767500,26.475000,26.532499,24.678110,102814000
4,2016-03-24,26.367500,26.562500,26.222500,26.417500,24.571148,104532000
...,...,...,...,...,...,...,...
1253,2021-03-11,122.540001,123.209999,121.260002,121.959999,121.959999,102753600
1254,2021-03-12,120.400002,121.169998,119.160004,121.029999,121.029999,87963400
1255,2021-03-15,121.410004,124.000000,120.419998,123.989998,123.989998,92403800
1256,2021-03-16,125.699997,127.220001,124.720001,125.570000,125.570000,114740000
1257,2021-03-17,124.050003,125.860001,122.339996,124.760002,124.760002,111437500