# Pandas to SQLite Walkthrough

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sqlite3 as sql

In [2]:
weather = pd.read_csv('https://github.com/alanjones2/dataviz/raw/master/londonweather.csv')

In [3]:
# Creating the connection and creating the db using the pandas format as the db schema:

conn = sql.connect('weather.db')

#only need to run this once:
weather.to_sql('weather', conn)

In [4]:
# reading from the db:

weather = pd.read_sql('SELECT * FROM weather', conn)

In [5]:
weather

     index  Year  Month  Tmax  Tmin  Rain    Sun
0        0  1957      1   8.7   2.7  39.5   53.0
1        1  1957      2   9.0   2.9  69.8   64.9
2        2  1957      3  13.9   5.7  25.4   96.7
3        3  1957      4  14.2   5.2   5.7  169.6
4        4  1957      5  16.2   6.5  21.3  195.0
..     ...   ...    ...   ...   ...   ...    ...
743    743  2018     12  10.7   5.2  60.6   40.3
744    744  2019      1   7.6   2.0  33.2   56.4
745    745  2019      2  12.4   3.3  34.2  120.2
746    746  2019      3  13.1   5.8  49.6  119.0
747    747  2019      4  15.8   5.7  12.8  170.1

[748 rows x 7 columns]

In [6]:
y2010 = pd.read_sql('SELECT * FROM weather WHERE Year == 2010', conn)

In [7]:
y1960 = pd.read_sql('SELECT * FROM weather WHERE Year == 1960', conn)

In [8]:
ax2010 = y2010.plot(y='Tmax')
ax = y1960.plot(y='Tmax',color = 'red', ax=ax2010)
ax.legend(['2010','1960'])

In [9]:
high = pd.read_sql('SELECT Year,Month,Tmax FROM weather WHERE Tmax > 25', conn)

Source article for this walkthrough:
https://towardsdatascience.com/python-pandas-and-sqlite-a0e2c052456f